"*":
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "b3758749-f8ee-4e50-b5de-1fbd54a944ce"
  "go-plus":
    format:
      tool: "gofmt"
  "linter-terraform-syntax":
    useTerraformFormat: true
  "linter-ui-default":
    panelRepresents: "Entire Project"
    showPanel: true
    showTooltip: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
