"*":
  "atom-beautify":
    json:
      disabled: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "b3758749-f8ee-4e50-b5de-1fbd54a944ce"
  "go-plus":
    format:
      tool: "gofmt"
  "linter-jenkins":
    curl:
      httpURI: "https://jenkins.dev.countingup.com"
    debug: true
    lintMethod: "CURL"
  "linter-terraform-syntax":
    useTerraformFormat: true
  "linter-ui-default":
    panelHeight: 214
    panelRepresents: "Entire Project"
    showTooltip: false
  "markdown-preview": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      excludedGlobs: [
        "*.tfstate"
      ]
  welcome:
    showOnStartup: false
